{% extends "babYoda/layout.html" %}

{% block content%}

<div class=texto>
    
    <div class='texto__titulo'>
        Queridxs tios e tias,
    </div>

    <div class='texto__conteudo'>

        <div class='texto__conteudo--paragrafo'>Gostaríamos demais de estar perto nesse momento, de fazer um chá delícia recheado de abraços, comida e animação, como mamãe e papai adoram, mas infelizmente, não será possível.</div>
        
        
        <div class='texto__conteudo--paragrafo'>Confesso que estamos chateados com a situação, mas deram uma ideia para meus futuros pais, que acreditamos, diminuirá um pouquinho a saudade de todos de forma segura e, vocês poderão me ver no barrigão da mamãe!</div>
        

        <div class='texto__conteudo--paragrafo'>
        Faremos um charreata!!! 💚
        <br>
        <br>
        Dia: 10/04/2021 
        <br>
        Horário: 15h às 17h
        <br>
        Local: QNM 36 conjunto A2 casa 07 – M Norte (atrás do JK Shopping)
        </div>
        
        <div class='texto__conteudo--paragrafo'> Para quem mora longe, “lonjão” e não poderá estar presente, fizemos esse site para que possam fazer parte desse momento conosco. 💚💚💚</div>

        <div class='texto__conteudo--paragrafo'>Com amo, baby Yoda</div>

    </div>
</div>
{% endblock %}
