* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;

    max-height: 100%;
    max-width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 17vh 3vh 70vh 10vh;
    grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer";
    
    background-image: url('/static/media/fundo_galaxy 200x200.png');
    background-repeat: repeat;
    
}

header {
    background: #20344C;
    grid-area: header;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.conteiner_header {
    display: flex;
    max-width: 1300px;
    max-height: 150px;
    align-content: space-between;
}

.conteiner__imagem {
    height: 190px;
    width: 190px;
}

.titulo_cha {
    margin-left: 200px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Gentium Book Basic', serif;
}

nav {
    grid-area: nav;

    margin-left: auto;
    margin-right: auto;

}

.conteiner__nav{
    display: flex;
    align-content: space-between;
    border: 50px;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

.navbar {
    
    margin: 5px;
    text-decoration: none;
    background-color: rgb(47, 129, 27);
    color: black;
}

main {
    grid-area: main;
    width: 100%;
    height: 95%;
    align-self: center;
    text-align: center;
    overflow: auto;


}

.texto {
    width: auto;
    height: auto;
    margin: 30px 360px;
    background-color: #8698b6;
    padding: 30px;
    border-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texto__titulo {
    font-size: 40px;
    color: #103D02;
    padding-bottom: 30px;
}

.titulo_cor{
    color: #103D02;
    font-weight: bolder;
}

.texto__conteudo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    
    
}

.texto__conteudo--paragrafo {
    padding: 10px;
}

.evento {
    width: auto;
    height: auto;
    margin: 30px 500px;
    background-color: #7a90b3;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.evento__titulo {
    padding-bottom: 10px;
}

.evento__local {
    padding-bottom: 10px;
}

#mapa {
    height:250px;
    width:400px;
    margin: 30px auto;
    
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;
}

.box {
    margin:20px;
    padding: 10px;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: #8998b1;
}

.box__imagem {
    max-width: 250px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.box__imagem--foto {
    max-width: 250px;
    max-height: 325px;
    width: auto;
    height: auto;
}

.box__informacao{
    margin: 0 10px;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    margin-bottom: 10px;

}

.box__informacao--icone {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.box__titulo {
    font-size: 16px;    
    display: flex;
    flex-direction: column;
}

#carrinho {
    margin-left: auto;
    margin-right: 150px;
    width: 100px;
    height: 100px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;

}

.carrinho__icone {
    height: 60px;
    width: 60px;
}


footer {
    background: #20344C;
    grid-area: footer;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.conteiner__footer{
    display: flex;
    height: 100%;
    width: 100%;
}

.conteiner__imagem {
    margin: 0 auto;
}